/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
